# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Flask / SQLite
instance/
*.db
*.sqlite3

# Environment secrets
.env

# Terraform state & cache
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
terraform.tfvars

# Temp / Office lock files
~$*

# OS
.DS_Store
Thumbs.db
